<div class="card rounded-0 border-0 mb-2">
  <div class="card-header rounded-0 bg-blue text-white">
    <strong>{{ title }}</strong>
  </div>
  <div class="card-body border-0 bg-light">
    {{ content }}
  </div>
</div>
