<div class="card rounded-0 border-0 mb-1">
  <div class="card-header rounded-0 bg-blue text-white p-1">
    <strong>{{ title }}</strong>
  </div>
  <div class="card-body border-0 bg-grey pl-2">
    {{ content }}
  </div>
</div>
