{% if options.style %}
  {% set style = 'decoration-' ~ options.style%}
{% endif %}

{% if options.margin_top is defined %}
  {% set margin_top = 'mt-' ~ options.margin_top %}
{% endif %}

{% if options.margin_bottom is defined %}
  {% set margin_bottom = 'mb-' ~ options.margin_bottom %}
{% endif %}

<ul class="{{ style }} {{ margin_top }} {{ margin_bottom }}">
  {% for c in content %}
    <li>{{ c }}</li>
  {% endfor %}
</ul>
