{% set col = 12 / columns | round(0, 'floor')%}

{% if bordered %}
  {% set border = 'border' %}
{% endif %}

{% for component in components %}
  <div class="col-{{ col }} {{ border }}">
    {{ component | raw}}
  </div>
{% endfor %}
